body {
	width: 1000px;
	font-family: sans-serif;
	margin: 0 20px;
}

header {
	width: 960px;
	margin-bottom: 30px;
	margin-left: 10px;
	padding: 10px;

}

header .titulo hgroup h1 {
	font-size: 24px;
	font-family: Georgia;
	margin-top: 20px;
	margin-left: 10px;
}

header .titulo hgroup h1 span {
	float: right; //display:inline-block;
	color: darkgray;
	margin-left: 500px;
	margin-top: 19px;
	font-size: 13px;


}

header .titulo hgroup h3 {
	font-size: 10px;
	color: #696969;
	margin-left: 10px;
	margin-top: 10px;

}

#bloque1 input {
	float: right;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	font-size: 13px;
	color: darkgray;
	padding-left: 5px;


}

#bloque input {
	float: right;
	background-color: #3C2520;
	color: darkgray;
	padding-top: 4px;
	padding-bottom: 5px;
	text-align: center;
	font-size: 13px;



}

header nav {
	float: left;
	margin-top: 20px;
	;

}

header nav ul {
	list-style-type: none;
	background-color: #3C2520;
	margin: 0;
	margin-left: 10px;
	padding: 0;
	border-radius: 10px;
	overflow: hidden;


}

header nav li {
	float: right;
	margin: 0;
	border-right: 1px solid #BBB;
}

header nav li a {
	font-size: 13px;
	color: #fff;
	padding: 15px 29.6px;
	display: block;
	text-decoration: none;
	text-align: center;


}

header nav li a:hover {
	background-color: #957964;

}

#parte1 {
	margin-left: 60px;
	margin-top: 18px;
}

#parte1 h1 {
	font-size: 24px;
	font-family: Georgia;
	color: #957964;
	text-align: center;
	margin-bottom: 7px;
	margin-right: 1px;
	margin-top: 125px;

}

#parte1 p {
	font-size: 13px;
	margin: 14px 140px 18px 160px;
	text-align: center;
	color: darkgrey;
	font-style: italic;
	line-height: 20px
}

.inicio span {
	overflow: hidden;
	float: left;
	margin-top: 10px;
	margin-left: 10px;


}

.inicio span a {
	color: #BBB;
	text-decoration: none;
	font-size: 10px;
	display: inline-block;
	padding: 4px 4px;
	margin-top: 1px;
	border-right: 1px solid #BBB;
	opacity: 0.5;

}

.inicio span a:hover {
	color: white;
	opacity: 0.9;
	border-right: 1px solid #fff;
}

.inicio {
	width: 1000px;
	background-color: #3C2520;
	height: 40px;

}

.inicio ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;


}

.inicio ul li {
	float: right;


}

.inicio ul li a {
	color: white;
	text-decoration: none;
	font-size: 15 px;
	border-radius: 50%;
	background-color: #957964;
	display: block;
	padding: 4px 4px;
	margin: 6px;




}

.inicio ul li a:hover {
	background-color: #db4a39;


}


main .contenedor {
	width: 960px;
	margin-left: 20px;
}

#primero {
	width: 269px;
}

main .contenedor #parte2 {
	float: left;
	display: inline-block color: #808080;
	background-color: #F4F6F7;
	padding-right: 20px;

}

.contenedorlineas {
	width: 520px;
	height: 30px;
}

.lineahorizontal {
	margin-left: 20px;
	width: 150px;
	height: 4px;
	background-color: #ebebeb;
	margin-bottom: 30px;
	display: inline;
	margin-top: 15px;
	margin-right: 10px;
	float: left;

}

.titulomensaje {
	margin-top: 20px;
	padding-top: 10px;
	padding-right: 180px;
	color: #4a4a4a;


}

.lineahorizontal2 {
	width: 150px;
	height: 4px;
	background-color: #ebebeb;
	margin-bottom: 30px;
	display: inline-block;
	margin-top: 15px;
	margin-left: 20x;
	margin-right: 26px;
	float: right;
}


.info {
	width: 520px;
	margin-top: 20px;
	margin-left: 20px;


}

.info img {
	border-radius: 50%;
	float: left;

}

.info h3 {

	font-family: georgia;
	margin-left: 140px;
	margin-bottom: 10px;
	color: black;

}

.info p {
	color: darkgray;
	font-size: 13px;
	line-height: 18px;
	margin-left: 140px;
	width: 320px;
	margin-bottom: 10px;
}

.info a {
	text-decoration: none;
	margin-top: 30px;
	px;
	font-size: 15px;
	margin-left: 10px;
	color: #957964;

}

.info2 {
	width: 520px;
	margin-top: 20px;
	margin-left: 20px;


}

.info2 img {
	border-radius: 50%;
	float: left;

}

.info2 h3 {

	font-family: georgia;
	margin-left: 140px;
	margin-bottom: 10px;
	color: black;

}

.info2 p {
	color: darkgray;
	font-size: 13px;
	line-height: 18px;
	margin-left: 140px;
	width: 320px;
	margin-bottom: 10px;
}

.info2 a {
	text-decoration: none;
	margin-top: 30px;
	px;
	font-size: 15px;
	margin-left: 10px;
	color: #957964;

}

aside {
	width: 480px;
	height: 400px;
	float: right;
	margin-bottom: 80px;
}

.informacion {
	width: 520px;
	float: left;
	margin-bottom: 80px;
}

.contenedorlineas1 {
	width: 520px;
	height: 30px;
	margin right: 20px;


}

aside .contenedorlineas {
	width: 505px;
	height: 30px;


}

.marcoimg {
	border: 1px solid #e4e4e4;
	width: 224px;
	margin-top: 20px;
	margin-left: 18px;
	height: 320px;
	float: left;
}

.marcoimg .usuario {

	margin-top: 25px;
	margin-left: 47px;
	margin-right: 47px;
}

.marcoimg h3 {
	text-align: center;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Georgia;

}

.marcoimg p {
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: darkgray;
	font-size: 13px;
	line-height: 1.3;
}

.marcoimg2 {
	border: 1px solid #e4e4e4;
	width: 224px;
	margin-top: 20px;
	margin-left: 6px;
	height: 320px;
	float: right;
	overflow: hidden;
	display: inline-block;
}

.marcoimg2 .usuario1 {

	margin-top: 25px;
	margin-left: 47px;
	margin-right: 47px;
	display: inline-block;
}

.marcoimg2 .texto {
	text-align: center;
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Georgia;

}

.marcoimg2 .texto2 {
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: darkgray;
	font-size: 13px;
	line-height: 1.3;
}

.marcoimg:hover {
	background: #957964;
	color: white;
	cursor: pointer;

}



.marcoimg:hover .usuario {
	filter: brightness(600%);
}

.marcoimg:hover p {
	background: #957964;
	color: white;
}

.marcoimg2:hover {
	background: #957964;
	color: white;
	cursor: pointer;

}



.marcoimg2:hover .usuario {
	filter: brightness(600%);
}

.marcoimg2:hover p {
	background: #957964;
	color: white;
}

#lineafooter {
	background-color: #dddddd;
	width: 1000px;
	height: 6px;


}

footer {
	width: 1000px;
	height: 364px;
	overflow: hidden;
	background-color: #efefef;
}

.infofooter {
	width: 319px;
	float: left;
	height: 200px;
}

.infofooter h3 {
	color: #666666;
	margin-left: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.infofooter p {
	color: #999999;
	line-height: 1.3;
	margin-left: 20px;
	margin-bottom: 20px;
	font-size: 13px;
	margin-right: 10px;

}

.infofooter a {
	text-decoration: none;
	color: #957964;
	font-size: 15px;
	margin-left: 20px;
	margin-top: 30px;
}

#contenedor1 {
	width: 319px;
	float: left;
	height: 364px;


}

.infofooter2 h2 {
	color: #666666;
	margin-left: 20px;

	margin-bottom: 15px;

}

.infofooter2 hgroup h3 {
	color: #666666;
	margin-left: 20px;
	font-size: 15px;


}

.infofooter2 hgroup h4 {
	color: #666666;
	margin-left: 20px;
	font-size: 13px;
	margin-bottom: 15px;
}

.infofooter2 p {
	color: #999999;
	line-height: 1.3;
	margin-left: 20px;
	margin-bottom: 5px;
	font-size: 13px;
	margin-right: 10px;
}

.infofooter2 a {
	text-decoration: none;
	color: #957964;
	font-size: 15px;
	margin-left: 20px;
	margin-top: 30px;
}

#contenedor2 {
	width: 347px;
	float: left;
	height: 364px;

}

#contenedor2 h2 {
	color: #666666;
	margin-left: 25px;
	margin-bottom: 15px;
	margin-top: 30px;




}

#contenedor2 #infofooter3 ul {
	height: 275px;
	list-style-type: none;
	overflow: hidden;
	margin-top: 12px;

}

#contenedor2 #infofooter3 li {
	margin-left: 20px;
	padding: 6px;



}

#contenedor2 #infofooter3 a {
	text-decoration: none;
	color: #957964;
	font-size: 13px;

}

#contenedor2 #infofooter3 a span {
	color: #666666;
}

#contenedor2 #infofooter3 .lineahorizontalf {
	background-color: #DDDDDD;
	width: 80%;
	height: 2px;
	margin-left: 27px;


}

#contenedor3{
	width: 319px;
	float: left;
	height: 364px;
	
}
#contenedor3 #infofooter4 h2{
	color: #666666;
	margin-left: 20px;
	margin-bottom: 30px;
	margin-top: 30px;

}
#contenedor3 #infofooter4 p{
	color: #999999;
	line-height: 1.3;
	margin-left: 20px;
	margin-bottom: 5px;
	font-size: 13px;
	margin-right: 10px;
	
}#contenedor3 #infofooter5{
	margin-left: 20px;
	height: 100px;
	margin-top: 10px;
}
#contenedor3 #infofooter5 #nombre{
	width: 88%;
	padding: 4px;
	border-radius: 5px;
	margin-bottom: 5px;
	border: none;
	background-color: #dddddd;
	margin-top: 20px;
}
#contenedor3 #infofooter5 #email{
	width: 88%;
	padding: 4px;
	border-radius: 5px;
	margin-bottom: 5px;
	margin-top: 10px;
	background-color: #dddddd;
	border:none;
	
}	
#contenedor3 #infofooter5 #boton{
	padding: 4px;
	border-radius: 5px;
	margin-bottom: 5px;
	margin-top: 10px;
	background-color: #957964;
	border:none;
	color:white;
	font-size:14px;
	cursor: pointer;
	
}
#contenedor3 #infofooter6{
	
    height: 100px;
	margin-top: 50px;
}
#contenedor3 #infofooter6 h2{	
	color: #666666;
	margin-left: 20px;
	font-size: 15px;
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 14px;
}
#contenedor3 #infofooter6 p{
	margin-left: 20px;
	color: #999999;
	font-size: 13px;
	padding-bottom: 3px;

}
#contenedor3 #infofooter6 p span{
	color: #957964;
}
#contenedorabajo{
	width: 1000px;
	height: 59px;
	background-color: #1f1210;
	overflow: hidden;
}
#contenedorabajo .copy{
	color:#957964;
	font-size: 13px;
	padding-top: 30px;
	float: left;
	margin-bottom: 30px;
	margin-left: 20px;
}
#contenedorabajo .copy2{
	float: right;
	color:#957964;
	font-size: 13px;
	padding-top: 30px;
	margin-bottom: 30px;
	margin-left: 20px;
	margin-right: 20px;
	
}
	